body {
    font-size: 16px;
    color: #003049;
    background-color: #ade8f4;
    font-family: 'Times New Roman', Times, serif;}

#header-nav {
    background-color: #0096c7;
    border-radius: 0;
    border: 0;
}
